.relatorio-de-vendas {
  padding: 10px;
  background-color: #ede7f6;
  width: 100%;

  th.cabecalho-nome {
    text-align: left;
  }

  th.cabecalho-valor {
    text-align: right;
  }

  tr.setor {
    background-color: #ede7f6;
  }

  tr.produto {
    background-color: #d1c4e9;
  }

  tr.marca {
    background-color: #b39ddb;
  }

  td.coluna-nome {
    font-style: italic;
  }

  td.coluna-valor,td.coluna-de-acao {
    text-align: right;
  }

  .botao-selecionar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    outline: none;
    background-color: #9c27b0;
    color: white;
    border-width: 0px;

    &:hover {
      background-color: #6a1b9a;
    }
  }

}
